<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<nb-layout>
  <nb-layout-header fixed>
    <!-- <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <h3>Nebular Starter Application</h3>
    <nb-actions size="tiny" class="pull-right">
        <nb-action icon="home-outline"></nb-action>
        <nb-action icon="search-outline"></nb-action>
        <nb-action icon="edit-outline"></nb-action>
    </nb-actions> -->
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-header subheader>
    <nb-actions size="tiny">
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="edit-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    This is the footer
  </nb-layout-footer>
</nb-layout>
